#react-app {
  font-family: PixeloidSans, sans-serif;
  display: grid;
  grid-template-rows: auto auto;

}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

}

@font-face {
  font-family: 'PixeloidSans';
  src: url('../src/fonts/PixeloidSans-mLxMm.ttf') format('truetype');
}

