.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}
#two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



#three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#catchphrase {
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 4px white;
}

.login-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 5px rgba(34, 0, 255);
}

.login-form input {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.signup-box {
  justify-self: end;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  height: 43vh;
  width: 15vw;
  box-shadow: 0 0 10px 5px rgba(34, 0, 255);
}

.signup-box p,
.signup-box a {
  margin: 10px 0;
  color: white;

  font-size: 30px;
  text-shadow: blueviolet;
}

#sword {
  width: 100%;
}

#logo {
  width: 60%;
}
